
.project-card {
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    /* background-color: var(--yellow); */
    height: 100%;
    border-radius: .1rem;
    transition: var(--transition);
    padding: 1.2rem 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}
.project-card:hover {
    box-shadow: 4px 4px 0 2px var(--black);
    transform: scale(1.02);
} 
/* .project-card.pro:hover {
    box-shadow: 4px 4px 0 4px var(--black);

}  */
.project-card .header,
.project-card .footer {
    width: 100%;

}
.project-card .header .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-card .header .icons .file {
    font-size: 2rem;
}

.project-card .header .icons .github ,
.project-card .header .icons .external-link {
    font-size: 1.3rem;
}

.project-card .header .icons div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}
.project-card .header {
  
}

.project-card .title {
    margin-top: 1.4rem;
    margin-bottom: .6rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.project-card .body {
}

.project-card .footer ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: .9em;
    flex-grow: 1;
    font-size: 14px;
    margin-top: .6rem;
}

.project-card .footer .tool{
    color: var(--black);
    font-weight: 600;
}
