.hero {
    background-color:var(--black);
    color: var(--text-white);
    user-select: none;
    position: relative;
    /* padding-top: 5rem; */
}


.hero .content {
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
padding-inline: 1rem;
min-height: 100vh;
}

.sub-title {
    color: var(--text-gray);
    padding-bottom: 1.7rem;
  font-size: clamp(25px, 4vw, 50px);

   }

p {
    max-width: 590px;
    font-size: clamp(1rem,3vw,1.3rem);
}
.small-text {
    color:var(--green) ;
    font-size: large;
    margin-bottom: 2rem;
}

.primary-button {
   margin-top: 1.5rem;
   color: var(--text-white);
   padding: .4rem 2.5rem;
   font-size: 1rem;
   font-weight: 500;
}
.primary-button:hover {
  background-color:#711fe4;
}

.primary-button:after  {
   background-color:var(--purple);

}
.primary-button:before  {
   background-color:var(--green);

}
.primary-button .button-text:before {
   background-color:var(--blue);

}
.primary-button .button-text:after {
   background-color:var(--yellow);
    
}
