nav {
    position: fixed;
    color: var(--text-white);
    font-weight: 600;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(14, 11, 22, 0.5);
    backdrop-filter: blur(5px);
    transition: var(--transition);
}

nav .logo{ 
    position: fixed;
    left: -3rem;
    top: -.6rem;
    z-index:200;
}
nav .logo img { 
    width: 100%;
    height: 100%;
    transform: scale(.4);
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 4rem;

}

.nav-container .desktop-links {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    gap: 1.8rem;
}
.nav-container .desktop-links .primary-button{
    margin: 0;
    padding: .2rem 1.4rem;
}
.nav-container-mobile .mobile-links {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.nav-container-mobile .mobile-links li{
    position: relative;
    overflow: hidden;
    font-size:clamp(20px, 5vw, 60px);
}
.nav-container-mobile .mobile-links li::before {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    height: 4px;
    width: 50%;
    transition: var(--transition);
}
.nav-container-mobile .mobile-links li:nth-child(1):before {
    background-color: var(--purple);

}
.nav-container-mobile .mobile-links li:nth-child(2):before {
    background-color: var(--yellow);

}
.nav-container-mobile .mobile-links li:nth-child(3):before {
    background-color: var(--blue);
}

.nav-container-mobile .mobile-links li:nth-child(4):before {
    background-color: var(--pink);

}

.nav-container-mobile .mobile-links li::before {
    right: 100%;
}
.nav-container-mobile .mobile-links li:hover::before {
    right: 0;
    width: 100%;
}

.nav-container-mobile {
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: var(--transition);
}

@media screen and (max-width:1080px){
    .nav-container {
        padding: 3rem;
    }
}

@media screen and (max-width:980px){
    nav.open{ 
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    backdrop-filter: blur(7px);
}

    .nav-container .desktop-links{
        display: none;
    }
    
.nav-container-mobile.open {
    visibility: visible;
    opacity: 1;
}

  
}


/* Hamburger */

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}

