
.rightbar {
    right: 0;
    padding-top:auto;
}

.email-link {
    transform: rotate(90deg);
    margin-bottom: 8em;
    color: white;
    transition: var(--transition);

}
.email-link:hover {
    transform:  translateY(-40%) rotate(90deg);
    color: var(--green);
}